<div class="header-home">
  <div class="filter"></div>
  <div class="container d-flex h-100">
    <div class="d-flex justify-content-center align-self-center heading-logo">
        <img class="logo" src="/assets/images/air-transport-white.png">
        <h1 class="align-self-center"> Air Traffic App</h1>
    </div>
  </div>
</div>

<div class="section">
  <div class="container text-center">
      <table *ngIf="flightList.length" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Direction</th>
            <th scope="col">Altitude</th>
            <th scope="col">Flight No</th>
            <i *ngIf="loading" class="spinner fa fa-spinner" aria-hidden="true"></i>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flightList; let i = index;" (click)="onAircraftClick(flight)">
            <th scope="row">{{ i + 1 }}</th>
            <td class="px-4">
                <i *ngIf="flight.Long < flight.Cot[1]" src="/assets/images/air-transport-black.png" class="fa fa-plane"></i>
                <i *ngIf="flight.Long >= flight.Cot[1]" src="/assets/images/air-transport-black.png" class="fa fa-plane icon-reverse"></i>
            </td>
            <td>{{ flight.Alt }}</td>
            <td>{{ flight.CMsgs }}</td>
          </tr>
        </tbody>
      </table>

      <p class="alert alert-light" *ngIf="info && !flightList.length">{{ info }} <i class="spinner fa fa-spinner" aria-hidden="true"></i></p>
      <!-- <p class="alert alert-light" *ngIf="loading && myLocation && !flightList.length && !error">{{ info }} <i class="spinner fa fa-spinner" aria-hidden="true"></i></p> -->

      <p class="alert alert-danger" *ngIf="error"> {{ error }} </p>
  </div>
</div>