.icon-reverse {
    transform:rotateY(180deg);
}

.section {
    padding: 40px 0;
}

.table {
    position: relative;
    z-index: 3;
    margin-top: -70px;
    border-radius: 5px;
    overflow: hidden;
    webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}
    .table tbody tr { cursor: pointer; }
    .table thead th {
        color: #ffffff;
        background-color: #19b6ca;
        border-color: #19b6ca;
    }

    .table thead tr i.spinner {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #fff;
    }

@media screen and (max-width: 375px) {
    .table thead tr i.spinner { top: 2px; right: 2px;}
    .table td, .table th {
        padding-right: 0;
        font-size: 12px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .table td, .table th {
        font-size: 14px;
    }
}