<div class="header-home">
  <div class="filter"></div>
  <div class="container">
    <div class="d-flex align-items-center justify-content-center heading-logo">
        <img class="logo" src="/assets/images/air-transport-white.png">
        <h1>Air traffic</h1>
    </div>
  </div>
</div>
  
<div class="section">
  <div class="container text-center">
      <p class="display-4">404</p>
      <p class="uppercase-text">Page not found</p>
      <button class="btn btn-primary btn-round" routerLink="/">Go Home</button>
  </div>
</div>