<div class="page-content">
  <div class="header-nav">
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-2">
          <button class="btn btn-white btn-round" (click)="onClickHomeButton()">Home</button>
        </div>
        <div class="col align-middle align-self-center">
            <strong class="text-uppercase align-self-center">{{ companyName }}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="logo-wrap">
              <p><strong [hidden]="!companyName">{{ companyName }}</strong></p>
              <img src="{{ logo }}" class="rounded-img">
              <p><a [hidden]="!companyWebsite" href="http://{{ companyWebsite }}" target="_blank">Website</a></p>
          </div>
        </div>
        <div class="col-12 col-md-8">

            <table class="table">
                <tbody>
                  <tr>
                    <td>Manufacturer: </td>
                    <td>{{ manufacturer }}</td>
                  </tr>
                  <tr>
                    <td>Model: </td>
                    <td>{{ model }}</td>
                  </tr>
                  <tr>
                    <td>Origin: </td>
                    <td>{{ origin }}</td>
                  </tr>
                  <tr>
                    <td>Destination: </td>
                    <td>{{ destination }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div> 
    </div>
  </div>
</div>