.header-nav {
    background-color: #19b6ca;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

.rounded-img {
    margin-bottom: 20px;
}

.table {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.logo-wrap { 
    padding: 0 10px;
    text-align: center;
}

.btn-white {
    background-color: white !important;
}