/* You can add global styles to this file, and also import other style files */
@import url(/assets/css/font-awesome.min.css);

@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat-Regular.ttf);
}

* {
    font-family: 'Montserrat', sans-serif;
}

.header-home {
    position: relative;
    background-image: url('/assets/images/airline2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 260px;
    align-content: center;
}

    .header-home .filter:after {
        /* background-color: rgba(0,0,0,.5); */
        content: "";
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        background: rgba(25, 118, 210, 0.88);
        background: linear-gradient(45deg,rgba(25, 118, 210, 0.88) 0,rgba(208,44,180,0.31) 100%);
        background: -webkit-linear-gradient(135deg,rgba(25, 118, 210, 0.88) 0,rgba(208,44,180,0.31) 100%);
    }

.heading-logo {
    position: relative;
    z-index: 2;
}
.heading-logo h1 {
    color: #fff;
    font-weight: bold;
}

.section {
    padding: 40px 0;
}

.spinner {
    height: 16px;
    width: 16px;
    animation: rotate 0.8s infinite linear;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

.btn-round {
    border-radius: 30px;
}

.btn-round:hover {
    -webkit-box-shadow: 0 6px 10px -4px rgba(0,0,0,.25);
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.25);
}

.btn-round:active {
    box-shadow: none;
}

a { color: #19b6ca; }
    a:hover,
    a:active {text-decoration: none; }

@media screen and (max-width: 375px)  {
    .header-home {height: 140px;}

    .heading-logo h1 {
        font-size: 26px;
    }
}


@media screen and (min-width: 376px) and (max-width: 425px) {
    .heading-logo h1 {
        font-size: 36px;
    }
}